<?php
$opt_category = array(
    '1' => 'Campeonato',
    '2' => 'Internacional',
    '3' => 'Copa Mundial',
    '4' => 'Historia',
    '5' => 'Jugadores',
    '6' => 'Equipos'
);

$opt_level = array(
    '1' => 'Facil',
    '2' => 'Media',
    '3' => 'Dificil'
);
$opt_lang = array(
    'ES' => 'ES',
    'PT' => 'PT',
    'EN' => 'EN');
?>
<script>
    $(document).ready(function () {
        $('#txt_question,#answer0,#answer1,#answer2,#answer3').keypress(function (event) {
            if (event.keyCode == 10 || event.keyCode == 13)
                event.preventDefault();

        });

    })

</script> 
<div class="contenedor">
    <?php
    $question_id = 0;
    $answer_id = array(0 => 0, 1 => 0, 2 => 0, 3 => 0);
    ?>

    <div class="form_edit">


        <form name="form" action="/questions/save/" method="POST" enctype="multipart/form-data">

            <table  width="600" cellpadding="2" cellspacing="0" border="0">
                <tr>
                    <td  class="txt_desc_edit">Idioma
                    </td>
                    <td><select id="cmb_lang" name="lang">
                            <?php
                            foreach ($opt_lang as $val => $string) {
                                echo "<option value='$val'>$string</option>";
                            }
                            ?>
                        </select>                </td>
                </tr>
                <tr>
                    <td  class="txt_desc_edit">Categoria
                    </td>
                    <td><select id="cmb_cat" name="category_id">
                            <?php
                            foreach ($opt_category as $val => $string) {
                                echo "<option value='$val'>$string</option>";
                            }
                            ?>
                        </select>                </td>
                </tr>

                <tr>
                    <td width="180" class="txt_desc_edit">
                        Pregunta
                    </td>
                    <td>
                        <textarea id="txt_question" name="question" question_id="<?php echo $question_id; ?>" class="txt_pregunta"></textarea>
                    </td> 
                </tr>
                <tr>
                    <td class="txt_desc_edit">Paises que aplica(Ejs : */ARUY/AR/BR)
                    </td>
                    <td><input id="txt_country" name="country_id" type="text" value="*" maxlength="20" /></td>
                </tr>
                <tr>
                    <td class="txt_desc_edit">Dificultad
                    </td>
                    <td><select id="cmb_level" name="level">
                            <?php
                            foreach ($opt_level as $val => $string) {
                                echo "<option value='$val'>$string</option>";
                            }
                            ?>
                        </select>                </td>
                </tr>

                <?php
                $ir = 0;
                while ($ir < 4) {
                    ?>
                    <tr>
                        <td class="txt_desc_edit">
                            Respuesta <?php
                            if ($ir == 0) {
                                echo "Correcta";
                            } else {
                                echo "Incorrecta $ir";
                            }
                            ?>
                        </td>
                        <td>
                            <textarea id="answer<?php echo $ir; ?>" name="answer<?php echo $ir++; ?>" answer_id="<?php echo $answer_id[$ir]; ?>" class="txt_respuesta"></textarea>
                        </td> 

                    </tr>
                <?php }
                ?>
                <tr>
                    <td class="txt_desc_edit">Seleccionar Imagen Cuadrada (150x150):</td>
                    <td>
                        <input type="file" name="squared"/>
                    </td>
                </tr>
                <tr>
                    <td class="txt_desc_edit">Seleccionar Imagen Rectangular (300x150):</td>
                    <td>
                        <input type="file" name="rectangular"/>
                    </td>
                </tr>
                <tr><td></td><td colspan="1">
                        <input type="button" value="Guardar" onclick="form.submit();" />
                    </td></tr>
            </table>
        </form>
    </div>
    <div class="actions">
        <?php
#       echo $this->cmb_paginado;
        ?>
    </div>
</div>
