<?php
$title = "";
if ($this->search_txt) {
    $title = "<h2>Busqueda de: $this->search_txt</h2>";
    $search_input = $this->search_txt;
} else {
    $search_input = "Texto en la pregunta";
}



# fill combos


$opt_lang = array(
    '*' => 'All',
    'ES' => 'ES',
    'PT' => 'PT',
    'EN' => 'EN');
$opt_country = array(
    '*' => 'All',
    'AR' => 'Argentina',
    'BO' => 'Bolivia',
    'BR' => 'Brasil',
    'CL' => 'Chile',
    'CO' => 'Colombia',
    'PE' => 'Peru',
    'PY' => 'Paraguay',
    'MX' => 'Mexico',
    'CA' => 'Centroamerica',
    'EC' => 'Ecuador',
    'UY' => 'Uruguay',
    'ES' => 'España',
    'PT' => 'Portugal',
    'HN' => 'Honduras',
    'NI' => 'Nicaragua',
    'GT' => 'Guatemala',
    'SV' => 'El Salvador',
    'CR' => 'Costa Rica'
);
$opt_category = array(
    '*' => 'All',
    '1' => 'Campeonato',
    '2' => 'Internacional',
    '3' => 'Copa Mundial',
    '4' => 'Historia',
    '5' => 'Jugadores',
    '6' => 'Equipos'
);
$opt_level = array(
    '*' => 'All',
    '1' => '1',
    '2' => '2',
    '3' => '3'
);
?>
<script>
    page_actual = 1;
    $(document).ready(function() {


        $("#txt_search").keypress(function(event) {
            if (event.which == 13) {

                search(1);
            }
        });

        $('#incfont').click(function() {
            curSize = parseInt($('.list td').css('font-size')) + 1;
            if (curSize <= 20)
                $('.list td').css('font-size', curSize);
        });
        $('#decfont').click(function() {
            curSize = parseInt($('.list td').css('font-size')) - 1;
            if (curSize >= 8)
                $('.list td').css('font-size', curSize);
        });


        $("#filter_page").change(function() {
            search($(this).val());
        });
    });
    function search(page) {
        if (!page) {
            page = 1;
        }

        var lang = $('#filter_lang').val();
        var search = $('#txt_search').val();
        txtsearch = "/search/" + search;
        if (search == 'Texto en la pregunta') {
            txtsearch = '';
        }

        var country = $('#filter_country').val();
        var category = $('#filter_category').val();
        var level = $('#filter_level').val();
        window.location.replace('/questions/index/page/' + page + '/lang/' + lang + '/country/' + country + '/category/' + category + '/level/' + level + txtsearch);



    }

    function searchtxt(obj) {

        var text = $(obj).val();
        window.location.replace('/questions/index/search/' + text);



    }
    function txtclear(obj) {
        if ($(obj).val() == 'Texto en la pregunta') {
            $(obj).val("");
        }
    }
    function gotoarchivos() {
        window.location.replace("/questions/upexcel");
    }
    function gotonew() {
        window.location.replace("/questions/add");
    }
    function drop(id, lang, obj) {

        if (id && lang) {
            if (!confirm('Estás seguro que desea borrar?')) {
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/questions/drop/",
                data: {
                    question_id: id
                },
                success: function(datos) {
                    if (datos == 'OK') {
                        $(obj).parent().parent().hide();
                    }
                }
            })
        }
    }
    ;
    function edit(ql_id) {
        if (ql_id) {
            window.location.replace('/questions/edit/qlid/' + ql_id);
        }
    }
    ;
</script>
<div class="contenedor">

    <div class="filter">

        <table cellpadding="2" cellspacing="0" border="0">
            <tr> 
                <td>language</td>
                <td>country_id</td>
                <td>category</td>
                <td>difficulty</td>
                <td>

                </td>

            </tr>
            <tr> 
                <td><select id="filter_lang">
                        <?php
                        foreach ($opt_lang as $val => $string) {
                            if ($this->selected_lang == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select id="filter_country">
                        <?php
                        foreach ($opt_country as $val => $string) {
                            if ($this->selected_country == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select id="filter_category">
                        <?php
                        foreach ($opt_category as $val => $string) {
                            if ($this->selected_category == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td><select id="filter_level">
                        <?php
                        foreach ($opt_level as $val => $string) {
                            if ($this->selected_level == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <a id="incfont"><img width="28" src="/media/img/font-size-asc.jpg" />
                        <a id="decfont"><img   width="28" src="/media/img/font-size-dec.jpg" /></a>
                </td>
                <td>
                    <input value="Buscar" type="button" onclick="search(1)"
                           />
                </td>

                <td>
                    <input id="txt_search" value="<?php echo $search_input; ?>" type="text"  onfocus="txtclear(this)"
                           />
                </td>
                <td><input type="button" value="+ Nueva pregunta" onclick="gotonew()" /></td>
                <td><input type="button" value="+ Archivos" onclick="gotoarchivos()" /></td>
            </tr>

        </table>

    </div>
    <div class="list">

        <?php echo $title; ?>
        <table  cellpadding="2" cellspacing="0" border="0">
            <?php
            $i = 0;
            if ($this->questions) {
                ?>
                <tr class="titles">
                    <td>IMG</td>
                    <td>-</td>
                    <td>Category</td>
                    <td>Question</td>
                    <td>Correct</td>
                    <td>Incorrect</td>
                    <td>Incorrect</td>
                    <td>Incorrect</td>
                    <td>Actions</td>
                </tr>
                <?php
                foreach ($this->questions as $question) {
                    ?>
                    <tr>
                        <td>
                            <?php if($question['squared_image_at']): ?>
                                <img src="<?php echo $this->imgsUrl.$question['question_id'];?>/squared/50x50/<?php echo $question['squared_image_id'];?>.png"/>
                            <?php elseif($question['rectangular_image_at']): ?>
                                <img src="<?php echo $this->imgsUrl.$question['question_id'];?>/rectangular/50x25/<?php echo $question['rectangular_image_id'];?>.png"/>
                            <?php else: ?>
                                -
                            <?php endif;?>
                        </td>
                        <td width="20">
                            <?php echo $question['country_id']; ?>
                        </td>
                        <td class="td_category">
                            <?php
                            echo $opt_category[$question['category_id']];
                            ?>
                        </td>
                        <td class="pregunta <?php
                    if (strlen($question['question']) > MAX_QUESTION_LENGTH) {
                        echo 'backrojo';
                    }
                            ?>">
                            <?php echo ($question['question']); ?> 
                        </td>
                        <?php
                        $ind_answer = 0;
                        foreach ($question['answers'] as $answer) {
                            $class = ($ind_answer++ == 0) ? 'correcta' : 'incorrecta';
                            ?> 
                            <td class="<?php echo $class; ?> <?php
                if (strlen($answer['answer']) > MAX_ANSWER_LENGTH) {
                    echo 'backrojo';
                }
                            ?>">
                                <?php echo ($answer['answer']); ?>    
                            </td> 
                            <?php
                        }
                        ?>
                        <td>
                            <a href="#" onclick="edit(<?php echo $question['ql_id']; ?>)">
                                <img src="/media/img/edit.jpg" border="0" />
                            </a>
                            <a href="#" onclick="drop(<?php echo $question['question_id'] . ",'" . $question['lang1'] . "'"; ?>, this)">
                                <img src="/media/img/delete.jpg" border="0" />
                            </a>
                        </td>
                    </tr> 
                    <?php
                }
            } else {
                echo "Presiona 'buscar' para listar preguntas";
            }
            ?>
        </table>
    </div>
    <div class="pagination">
        <?php
        if (!empty($this->cmb_paginado)) {
            ?>Página
            <?php
            echo $this->cmb_paginado;
        }
        ?>
    </div>
</div>
