<?php ?>
<script>
    $(document).ready(function() {


    })
    function save(question_id) {
        var question_id = 0;
        var val_question = $('#txt_question').val();
        var val_answer0 = $("#answer0").val();
        var val_cat = $("#cmb_cat").val();
        var val_answer1 = $("#answer1").val();
        var val_answer2 = $("#answer2").val();
        var val_answer3 = $("#answer3").val();
        var val_level = $("#cmb_level").val();
        var val_lang = $("#cmb_lang").val();
        var val_country = $("#txt_country").val();
        var datos = {
            question_id: question_id,
            category_id: val_cat,
            question: val_question,
            answer0: val_answer0,
            country_id: val_country,
            level: val_level,
            lang: val_lang,
            answer1: val_answer1,
            answer2: val_answer2,
            answer3: val_answer3
        };
        console.log(datos);
        $.ajax({
            type: "POST",
            url: "/questions/save/",
            data: datos,
            success: function(datos) {
                if (datos == 'OK') {
                    alert('Guardado ok');
                    window.location.replace("/questions/index");
                } else {
                    alert('error:' + datos);
                }
            }
        })

    }


</script> 
<div class="contenedor">
    <div class="list">
        <table class="files_up">
            <tr><td>file</td><td colspan="2">actions</td></tr>
            <?php
            $i = 0;
            foreach ($this->lista as $file) {
                $i++;
                ?>

            <tr><td><?php echo $file; ?></td><td><a target="_blank" href="/adm/upload/n/<?php echo $i; ?>">Upload</a></td><td><a href="/questions/upexcel/delete/<?php echo $i; ?>">delete</a></td></tr>
                <?php
            }
            ?>    
        </table>
        <form enctype="multipart/form-data" action="/questions/upexcel/" method="POST">
            <input type="hidden" name="MAX_FILE_SIZE" value="100000" />
            Choose a file to upload: <input name="uploadedfile" type="file" />
            <br />
            <input type="submit" value="Upload File" />
        </form>
    </div> 
</div>
