<html xmlns="http://www.w3.org/1999/xhtml">
    <head>       
        <title>Futboleando adm</title>       
        <script src="http://adm.<?php echo $domain; ?>/media/scripts/jquery-1.6.3.min.js" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href="http://adm.<?php echo $domain; ?>/media/css/estilos.css"></link>
        
        <script>
        $(document).ready(function(){
        // jQuery methods go here...

            verifyPushUserSourceIdVal("no_html_set");
            
            $("#push_user_source_id").change(verifyPushUserSourceIdVal);
            
            function verifyPushUserSourceIdVal(flag) {
                //window.alert(flag);
                 switch( $( "#push_user_source_id" ).val() ) {
                     case "1":
                         $('#extra_params').hide();
                         break;
                     case "2":
                     case "3":
                         if (flag != 'no_html_set')
                            $("#extra_params").html("<input name=\"seconds_for_search\" required value=\"\" size=\"5\"> seconds");
                         break;
                     case "4":
                     case "5":
                         if (flag != 'no_html_set')
                            $("#extra_params").html("<input name=\"lives_for_search\" required value=\"\" size=\"5\"> lives");
                         break;
                     case "6":
                         if (flag != 'no_html_set')
                            $("#extra_params").html("<input name=\"user_id_for_search\" required value=\"\" size=\"5\">");
                         break;
                     case "7":
                     case "8":
                         if (flag != 'no_html_set')
                            $("#extra_params").html("<input name=\"coins_for_search\" required value=\"\" size=\"5\"> coins");
                         break;
                 }
                 
                if ($( "#push_user_source_id" ).val() != 1) {
                    $("#extra_params").css("display", "inline");
                    $('#extra_params').show();
                }                
            }
        });             
        </script>
        
    </head>
    <body>
        <div id="header">
            <div  class="header">
                <div class="usuario">
                    <p><span>User:</span><br/><?php echo $logged_user->email; ?></p>
                    <span>type: <?php echo $logged_user->AdminUserType->type; ?></span>
                </div>
                <ul> 
                    <li class="menu"><a href='http://adm.<?php echo $domain; ?>/useradmin/logout'>Logout</a></li>
                    <li class="menu"><a href='http://adm2.<?php echo $domain; ?>/pushbroad/index'>Pushs</a></li>
                    <li class="menu"><a href='http://adm.<?php echo $domain; ?>/stats/index'>Stats</a></li>
                    <li class="menu"><a href='http://adm.<?php echo $domain; ?>/questions/index'>Questions</a></li>

                </ul>
                <div style="clear:both"></div>
            </div>
        </div> 
        <div>
            <?php echo $this->getContent(); ?>
        </div>
        <div id="footer">
        </div>
    </body>
</html>

