
<?php echo $this->tag->form("pushbroad/create") ?>
<?php echo $this->tag->hiddenField("id_push_broad") ?>

<?php echo $this->getContent(); ?>

<div align="center">
    <h1>Edit broadcast</h1>
</div>

<table>
    <tr>
        <td align="right">
            <label for="push_user_source_id">Users from</label>
        </td>
        <td align="left">
            <?php echo $this->tag->select(array('push_user_source_id', PushUserSource::find(), "using" => array("push_user_source_id", "description")))?>
            &nbsp;<div id="extra_params" style="display:none;"><?php if (in_array($push_user_source_id,array(2,3))) echo $this->tag->textField(array("seconds_for_search", "required" => "required", "size" => 5))." seconds";
                                                                           if (in_array($push_user_source_id,array(4,5))) echo $this->tag->textField(array("lives_for_search", "required" => "required", "size" => 5))." lives";
                                                                           if (in_array($push_user_source_id,array(6))) echo $this->tag->textField(array("user_id_for_search", "required" => "required", "size" => 5));
                                                                           if (in_array($push_user_source_id,array(7,8))) echo $this->tag->textField(array("coins_for_search", "required" => "required", "size" => 5))." coins";;
                                                                     ?>
                  </div>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="cron">Week Days</label>
        </td>
        <td align="left">
            <table width="100%">
                <tr>
                    <td>
                    <select multiple="true" name="week_days[]">
                        <?php
                            foreach(array(
                                0=>'Domingo',
                                1=>'Lunes',
                                2=>'Martes',
                                3=>'Miércoles',
                                4=>'Jueves',
                                5=>'Viernes',
                                6=>'Sábado'
                            ) as $id => $day){
                                if (in_array($id, $week_days))
                                    echo "<option value='$id' selected='selected'>$day</option>"; 
                                else
                                    echo "<option value='$id'>$day</option>"; 
                            }
                        ?>
                    <select>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><label for="platform">Platform</label></td>
                                <td>
                                    <select multiple="true" required size="3" name="platform[]">
                                        <?php
                                            foreach(array(
                                                'gcm'=>'Android',
                                                'ios'=>'IOS',
                                                'win'=>'Windows'
                                            ) as $id => $plat_name){
                                                if (in_array($id, $platform) || $platform[0] == '*')
                                                    echo "<option value='$id' selected='selected'>$plat_name</option>"; 
                                                else
                                                    echo "<option value='$id'>$plat_name</option>"; 
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="description">Start Time</label>
        </td>
        <td align="left">
            <?php echo $this->tag->textField(array("hour", "maxlength" => 2, "size" => 2)) ?><!--<input type='text' maxlength="2" size="2" name="hour">-->:<?php echo $this->tag->textField(array("minutes", "maxlength" => 2, "size" => 2)) ?><!--<input type='text' maxlength="2" size="2" name="minutes">--> hs
        </td>
    </tr>
    
    <tr>
        <td align="right">
            <label for="description">Description</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("description", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="push_message">Push Text</label>
        </td>
        <td align="left">
            <?php
            foreach(Countries::find(array('order' => 'name')) as $country){
                echo "$country->name: <input type='text' name='push_message[$country->code]' value=\"".(isset($pushBroadCountry[$country->code]) ? $pushBroadCountry[$country->code] : "" )."\"><br>";
            }
            ?>
        </td>
    </tr>
    <!--
    <tr>
        <td align="right">
            <label for="extras">Extras</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("extras", "type" => "date")) ?>
        </td>
    </tr> -->

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>
</form>
<div class="pagination">
<table  align="center">
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("pushbroad/index", "Back") ?></td>
                    </tr>
                </table>
            </td>
        </tr>
</table>
</div>
