<?php use Phalcon\Tag; ?>

<?php echo $this->getContent(); ?>



<div class="filter">
<table width="100%">
    <tr>
        <td align="right">
            <input value="+ Nuevo broad" onclick="window.location='/pushbroad/new';" type="button">
        </td>
    </tr>
</table>
</div>

<div class="filter">
<table width="100%">
        <tr class="titles">
            <th align="left">Users from</th>
            <th align="left">Description</th>
            <th align="left">Message</th>
            <th align="left">&#160;</th>
         </tr>
    <?php foreach ($page->items as $push_broad) { ?>
        <tr>
            <td class="list"><?php echo $push_broad->PushUserSource->description ?></td>
            <td class="list"><?php echo $push_broad->description ?></td>
            <td class="list">
                <?php
                foreach( $push_broad->PushBroadCountry as $push_country){
                    $country = Countries::findFirst("code = '$push_country->country_id'");
                    if($push_country->push_message){
                        echo "$country->name: $push_country->push_message <br>";
                    }
                }
                ?>
            </td>
            <td><input value="Edit" onclick="window.location='/pushbroad/edit/<?php echo $push_broad->push_broad_id; ?>'" type="button"><!-- <?php echo $this->tag->linkTo(array("pushbroad/edit/" . $push_broad->push_broad_id, "Edit")); ?> --></td>
            <td><input value="Delete" onclick="window.location='/pushbroad/delete/<?php echo $push_broad->push_broad_id; ?>'" type="button"></td>
        </tr>
    <?php } ?>
</table> 
</div>

<div class="pagination">
<table  align="center">
        <tr>
            <td colspan="2" align="right">
                <table align="center">
                    <tr>
                        <td><?php echo $this->tag->linkTo("pushbroad/search", "First") ?></td>
                        <td><?php echo $this->tag->linkTo("pushbroad/search?page=" . $page->before, "Previous") ?></td>
                        <td><?php echo $this->tag->linkTo("pushbroad/search?page=" . $page->next, "Next") ?></td>
                        <td><?php echo $this->tag->linkTo("pushbroad/search?page=" . $page->last, "Last") ?></td>
                        <td><?php echo $page->current, "/", $page->total_pages ?></td>
                    </tr>
                </table>
            </td>
        </tr>
</table>
</div>