
<?php echo $this->tag->form("pushbroad/create") ?>


<?php echo $this->getContent(); ?>

<div align="center">
    <h1>Insert broadcast</h1>
</div>

<table border="0">
    <tr>
        <td align="right">
            <label for="push_user_source_id">Users from</label>
        </td>
        <td align="left">
            <?php echo $this->tag->select(array('push_user_source_id', PushUserSource::find(), "using" => array("push_user_source_id", "description")))?>
            &nbsp;<div id="extra_params" style="display:none;"></div>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="cron">Week Days</label>
        </td>
        <td align="left">
            <table width="100%">
                <tr>
                    <td>
                        <select multiple="true" required name="week_days[]">
                            <?php
                                foreach(array(
                                    0=>'Domingo',
                                    1=>'Lunes',
                                    2=>'Martes',
                                    3=>'Miércoles',
                                    4=>'Jueves',
                                    5=>'Viernes',
                                    6=>'Sábado'
                                ) as $id => $day){
                                   echo "<option value='$id'>$day</option>"; 
                                }
                            ?>
                        <select>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td><label for="platform">Platform</label></td>
                                <td>
                                    <select multiple="true" required size="3" name="platform[]">
                                        <?php
                                            foreach(array(
                                                'gcm'=>'Android',
                                                'ios'=>'IOS',
                                                'win'=>'Windows'
                                            ) as $id => $plat_name){
                                               echo "<option value='$id'>$plat_name</option>"; 
                                            }
                                        ?>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="description">Start Time</label>
        </td>
        <td align="left">
            <input type='text' maxlength="2" size="2" name="hour" value="12">:<input type='text' maxlength="2" size="2" name="minutes" value="00"> hs
        </td>
    </tr>
    
    <tr>
        <td align="right">
            <label for="description">Description</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("description", "type" => "date")) ?>
        </td>
    </tr>
    <tr>
        <td align="right">
            <label for="push_message">Push Text</label>
        </td>
        <td align="left">
            <?php
            foreach(Countries::find(array('order' => 'name')) as $country){
                echo "$country->name: <input type='text' name='push_message[$country->code]'><br>";
            }
            ?>
        </td>
    </tr>
    <!--
    <tr>
        <td align="right">
            <label for="extras">Extras</label>
        </td>
        <td align="left">
                <?php echo $this->tag->textField(array("extras", "type" => "date")) ?>
        </td>
    </tr> -->

    <tr>
        <td></td>
        <td><?php echo $this->tag->submitButton("Save") ?></td>
    </tr>
</table>

</form>
