


<div class="userconfiguration" style="box-shadow: 2px 2px 5px #cccccc">
    <ul style="padding: 0;">
        <li style="border-bottom: 1px solid #E6E6E6; width: 100%; line-height: 2;">
            Usuario total: <?php echo $this->users; ?>
        </li>
        <li style="border-bottom: 1px solid #E6E6E6; width: 100%; line-height: 2;">
            Usuario activos: <?php echo $this->useractives; ?>
        </li>
        <li style="border-bottom: 1px solid #E6E6E6; width: 100%; line-height: 2;">
            Usuarios no activos: <?php echo $this->usernoactives; ?>
        </li>
        <li style="border-bottom: 1px solid #E6E6E6; width: 100%; line-height: 2;">
            Equipos total: <?php echo $this->teams; ?>
        </li>
        <li style="border-bottom: 1px solid #E6E6E6; width: 100%; line-height: 2;">
            Equipos activos: <?php echo $this->teamactives; ?>
        </li>
        <li style="border-bottom: 1px solid #E6E6E6; width: 100%; line-height: 2;">
            Equipos no activos: <?php echo $this->teamnoactives; ?>
        </li>
    </ul>

</div>
