<?php
$opt_category = array(
    '1' => 'Campeonato',
    '2' => 'Internacional',
    '3' => 'Copa Mundial',
    '4' => 'Historia',
    '5' => 'Jugadores',
    '6' => 'Equipos'
);
$opt_level = array(
    '1' => 'Facil',
    '2' => 'Media',
    '3' => 'Dificil'
);
?>
<script>
    $(document).ready(function() {
        $('#txt_question,#answer0,#answer1,#answer2,#answer3').keypress(function(event) {
            if (event.keyCode == 10 || event.keyCode == 13)
                event.preventDefault();

        });

    })

    function save(qlid) {

        if (qlid) {
            var val_question = $('#txt_question').val();
            var val_answer0 = $("#answer0").val();
            var val_answer1 = $("#answer1").val();
            var val_answer2 = $("#answer2").val();
            var val_answer3 = $("#answer3").val();
            var val_level = $("#cmb_level").val();
            var val_cat = $("#cmb_cat").val();
            var val_country = $("#txt_country").val();
            var datos = {
                qlid: qlid,
                question: val_question,
                category_id: val_cat,
                country_id: val_country,
                level: val_level,
                answer0: val_answer0,
                answer1: val_answer1,
                answer2: val_answer2,
                answer3: val_answer3
            };
//            console.log(datos);

            $.ajax({
                type: "POST",
                url: "/questions/update/",
                data: datos,
                success: function(datos) {
                    if (datos == 'OK') {
                        alert('Guardado ok');
                        window.history.back();return false;
                        //window.location.replace("/questions/index");
                    } else {
                        alert('error:' + datos);
                    }
                }
            })
        }
    }


</script>
<?php
#print_r($this->data);exit;
foreach ($this->data as $dat) {
    $data = $dat;
    continue;
}
#$data = $this->data[0];
if (empty($data)) {
    die('No se puede mostrar la pregunta');
}
#print_r($data);
#exit;
?>
<div class="contenedor">


    <div class="form_edit">


        <table  width="600" cellpadding="2" cellspacing="0" border="0">
            <tr>
                <td  class="txt_desc_edit">Categoria
                </td>
                <td><select id="cmb_cat">
                        <?php
                        foreach ($opt_category as $val => $string) {
                            if ($val == $data['category_id']) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="180" class="txt_desc_edit">
                    Pregunta
                </td>
                <td>
                    <textarea id="txt_question" ql_id="<?php echo $data['ql_id']; ?>" class="txt_pregunta"><?php echo $data['question']; ?></textarea>
                </td> 
            </tr>
            <tr>
                <td  class="txt_desc_edit">Paises que aplica(Ejs: */ARUY/AR/BR)
                </td>
                <td><input id="txt_country" type="text" value="<?php echo $data['country_id']; ?>" maxlength="20" /></td>
            </tr>
            <tr>
                <td  class="txt_desc_edit">Dificultad
                </td>
                <td><select id="cmb_level">
                        <?php
                        foreach ($opt_level as $val => $string) {
                            if ($data['level'] == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>                </td>
            </tr>
            <?php
            $ir = 0;
            foreach ($data['answers'] as $answer) {
                ?>
                <tr>
                    <td class="txt_desc_edit">
                        Respuesta <?php
                        if (intval($answer['is_correct']) == 1) {
                            echo $answer['is_correct']."-Correcta";
                        } else {
                            echo $answer['is_correct']."-Incorrecta";
                        }
                        ?>
                    </td>
                    <td>
                        <textarea id="answer<?php echo $ir++; ?>" al_id="<?php echo $answer['al_id']; ?>" class="txt_respuesta"><?php echo $answer['answer']; ?></textarea>
                    </td> 

                </tr>
            <?php }
            ?>
            <tr><td></td><td colspan="1">
                    <input type="button" value="Guardar" onclick="save(<?php echo $data['ql_id']; ?>)" />
                </td></tr>
        </table>
    </div>
    <div class="actions">
    </div>
</div>
