<html xmlns="http://www.w3.org/1999/xhtml">
    <head>       
        <title>Futboleando adm</title>       
        <?php
        echo $this->headLink()->appendStylesheet($this->baseUrl('/media/css/estilos.css'));
        echo $this->headScript()->appendFile($this->baseUrl('/media/scripts/jquery-1.6.3.min.js', 'text/javascript'))
        ?>
    </head>
    <body>
        <div id="header">
            <div  class="header">
                <?php echo $this->render('index/header.phtml') ?>
                <div style="clear:both"></div>
            </div>
        </div> 
        <div>
            <?php echo $this->layout()->content ?>
        </div>
        <div id="footer">
            <?php echo $this->render('index/footer.phtml') ?>	
        </div>
    </body>
</html>