<script type="text/javascript">
    $(document).ready(function() {
    });

    /*
     function eliminar_config(tactica) {
     if (confirm('Seguro que queres eliminar la tactica?')) {
     $.post("/tactics/delete/", {
     id: tactica
     },
     function(data) {
     alert("Tactica eliminada " + data);
     location.reload();
     //windows.location = '/tactics/managment/';
     });
     }
     }
     */
/*
    function acceptNum(evt) {
        var key = evt.keyCode;
        if (key >= 48 && key <= 57) {
            return true;
        } else {
            return false;
        }
    }
*/
    function acceptNum(event) {
var key = (typeof event.which == "number") ? event.which : event.keyCode;
        if ((key >= 48 && key <= 57)||(key==8)) {
            return true;
        } else {
            return false;
        }
    }

    function modificar_config(id) {
        if (confirm('Seguro que queres modificar la configuracion?')) {
            $.post("/userconfiguration/update/", {
                id: id,
                initial_budget: $("#initial_budget").val()
                //max_transfer_allowed: $("#max_transfer_allowed").val(),
                //email_days_confirm: $("#email_days_confirm").val()
            },
            function(data) {
                $("#result_" + id).html("Configuracion modificada" + data);
                //location.reload();
            });
        }
    }

    /*
     function guardar_config() {
     var tot = $("#defensores").val() + $("#mediocampistas").val() + $("#delanteros").val();
     if (tot !== 10) {
     alert("El total de jugadores tiene que ser 10");
     } else {
     $.post("/tactics/save/", {
     name: $("#name").val(),
     defensores: $("#defensores").val(),
     mediocampistas: $("#mediocampistas").val(),
     delanteros: $("#delanteros").val(),
     status: $("#status").val()
     },
     function(data) {
     alert("Tactica agregada " + data);
     });
     }
     }
     */
</script>
<div>
    <div class="userconfiguration">
        <?php foreach ($this->configs as $this->config) { ?>
            <label>Presupuesto:</label><br/>
            <input id="initial_budget" type="text" onkeypress="return acceptNum(event)" value="<?php echo $this->config->initial_budget ?>"/> 
            <br/>            
            <!--
            <label style="width: 400px; float: left;">Maximas transferencias permitidas:</label><br/>
            <input id="max_transfer_allowed" type="text" onkeypress="return acceptNum(event)" value="<?php echo $this->config->max_transfer_allowed ?>"/>                       
            <br/>
            <label style="width: 400px; float: left;">D&iacute;as para confirmar email:</label>
            <br/> 
            <input id="email_days_confirm" type="text" onkeypress="return acceptNum(event)" value="<?php echo $this->config->email_days_confirm ?>"/>
            <br/>
            -->
            <input class="button" onclick="modificar_config(<?php echo $this->config->id ?>)" type="button" id="modificar_config_button" value="Modificar" />
            <br/>
            <span id="result_<?php echo $this->config->id ?>" style="width: 400px; float: left;"></span>
            <div style="clear: both;"></div>
        <?php } ?>
    </div>
</div>
<div style="clear: both;"></div>
