<script type="text/javascript">
    $(document).ready(function() {
        $("#username").focus();
        $("#password").keypress(function(event) {
            if (event.which == 13) {
                login();
            }
        });
        $("#username").keypress(function(event) {
            if (event.which == 13) {
                login();
            }
        });
        $("#login_button").click(function() {
            login();
        })
    });

    function login() {
        //var user = $("#username").val();
        //var n = user.indexOf("pmovil.com");
        //if (n == "-1") {
        $.post("/useradmin/auth/", {
            username: $("#username").val(),
            password: $("#password").val()
        },
        function(data) {
            if (data == 'OK') {
                window.location = '/questions/index';
            } else {
                $("#resultlogin").show().html(data).delay(2500).fadeOut();
                //$("#resultlogin").show().html("Usuario y/o contrase&ntilde;a incorrecto").delay(2500).fadeOut();
                //alert(data);
                //$("#resultlogin").html("Usuario y/o contraseña incorrecto");
            }
        });
    }
</script>

<div class="logo">
    <img src="" alt="" /><br/><br/>
    <p>admin</p>
</div>
<div class="userconfiguration">
    <div>
        <img src="/media/img/logo.png" width="280" />
    </div>
    <label>Email</label><br/>
    <input type="email" name="username" id="username" type="email" autocomplete="on" /><br/>
    <label>Contrase&ntilde;a:</label><br/>
    <input type="password" name="password" id="password" /><br/>
    <input class="button" type="submit" id="login_button" value="login"/><br/>
    <div id="resultlogin"></div>
</div>
