<?php
$opt_category = array(
    '1' => 'Campeonato',
    '2' => 'Internacional',
    '3' => 'Copa Mundial',
    '4' => 'Historia',
    '5' => 'Jugadores',
    '6' => 'Equipos'
);
$opt_level = array(
    '1' => 'Facil',
    '2' => 'Media',
    '3' => 'Dificil'
);
?>
<script>
    $(document).ready(function() {
        $('#txt_question,#answer0,#answer1,#answer2,#answer3').keypress(function(event) {
            if (event.keyCode == 10 || event.keyCode == 13)
                event.preventDefault();

        });

    })

</script>
<?php
#print_r($this->data);exit;
foreach ($this->data as $dat) {
    $data = $dat;
    continue;
}
#$data = $this->data[0];
if (empty($data)) {
    die('No se puede mostrar la pregunta');
}
#print_r($data);
#exit;
?>
<div class="contenedor">
    <div class="form_edit">
        <form name="form" action="/reportedsuggested/update/" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="qlid" value="<?php echo $data['i'
                . 'd']; ?>">
            <table  width="600" cellpadding="2" cellspacing="0" border="0">
                <tr>
                    <td  class="txt_desc_edit">Categoria
                    </td>
                    <td><select id="cmb_cat" name="category_id">
                            <?php
                            foreach ($opt_category as $val => $string) {
                                if ($val == $data['category_id']) {
                                    echo "<option selected='selected' value='$val'>$string</option>";
                                } else {
                                    echo "<option value='$val'>$string</option>";
                                }
                            }
                            ?>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td width="180" class="txt_desc_edit">
                        Pregunta
                    </td>
                    <td>
                        <textarea id="txt_question" ql_id="<?php echo $data['ql_id']; ?>" class="txt_pregunta" name="question"><?php echo $data['question']; ?></textarea>
                    </td> 
                </tr>
                <tr>
                    <td  class="txt_desc_edit">Paises que aplica(Ejs: */ARUY/AR/BR)
                    </td>
                    <td><input id="txt_country" type="text" name="country_id" value="<?php echo $data['country_id']; ?>" maxlength="20" /></td>
                </tr>
                <tr>
                    <td  class="txt_desc_edit">Dificultad
                    </td>
                    <td><select id="cmb_level" name="level">
                            <?php
                            foreach ($opt_level as $val => $string) {
                                if ($data['level'] == $val) {
                                    echo "<option selected='selected' value='$val'>$string</option>";
                                } else {
                                    echo "<option value='$val'>$string</option>";
                                }
                            }
                            ?>
                        </select>                </td>
                </tr>
                <?php
                $ir = 0;
                ?>
                <tr>
                    <td  class="txt_desc_edit">Correcta</td>
                    <td  class="txt_desc_edit">
                        <textarea id="answer<?php echo $ir; ?>" name="answer<?php echo $ir++; ?>" al_id="<?php echo $question['id']; ?>" 
                                  class="txt_respuesta"><?php echo $dat['answer_correct']; ?>
                        </textarea>
                    </td>
                <tr/>
                <tr>
                    <td  class="txt_desc_edit">Incorrecta 1</td>
                    <td>
                        <textarea id="answer<?php echo $ir; ?>" name="answer<?php echo $ir++; ?>" al_id="<?php echo $question['id']; ?>" 
                                  class="txt_respuesta"><?php echo $dat['answer_incorrect1']; ?>
                        </textarea>
                    </td>
                <tr/>
                <tr>
                    <td  class="txt_desc_edit">Incorrecta 2</td>
                    <td>
                        <textarea id="answer<?php echo $ir; ?>" name="answer<?php echo $ir++; ?>" al_id="<?php echo $question['id']; ?>" 
                                  class="txt_respuesta"><?php echo $dat['answer_incorrect2']; ?>
                        </textarea>
                    </td>
                <tr/>
                <tr>
                    <td  class="txt_desc_edit">Incorrecta 3</td>
                    <td>
                        <textarea id="answer<?php echo $ir; ?>" name="answer<?php echo $ir++; ?>" al_id="<?php echo $question['id']; ?>" 
                                  class="txt_respuesta"><?php echo $dat['answer_incorrect3']; ?>
                        </textarea>
                    </td> 
                </tr>
                <tr><td></td><td colspan="1">
                        <input type="button" value="Guardar" onclick="form.submit();" />
                    </td></tr>
            </table>
        </form>
    </div>
    <div class="actions">
    </div>
</div>
