<script type="text/javascript">
    $(document).ready(function() {
    });

    function modificar_config(id_campeonato) {
        if (confirm('Seguro que queres modificar la configuracion?')) {
            $.post("/config/update/", {
                id_campeonato: id_campeonato,
                status: $("#status_" + id_campeonato).val()
            },
            function(data) {
                $("#result_" + id_campeonato).show().html("Configuracion modificada" + data).delay(2000).fadeOut();
                //location.reload();
            });
        }
    }
</script>
<div>
    <div class="userconfiguration">
        <?php foreach ($this->configs as $config) { ?>
            <label>CAMPEONATO:</label>
            <span id="id_campeonato"><?php echo $config->id_campeonato; ?></span><br/>
            <label>STATUS WEB:</label>
            <div class="styled-select" style="width: 250px;">
                <select id="status_<?php echo $config->id_campeonato; ?>" style="width: 250px;">                    
                    <option <?php if($config->status == 'INACTIVE'){?> selected <?php } ?>
                        value="INACTIVE">INACTIVE</option>
                    <option <?php if($config->status == 'ACTIVE'){?> selected <?php } ?>
                        value="ACTIVE">ACTIVE</option>
                    <option <?php if($config->status == 'PLAYING'){?> selected<?php } ?>
                            value="PLAYING">PLAYING</option>
                    <option <?php if($config->status == 'PROCESSING'){?> selected<?php } ?>
                            value="PROCESSING">PROCESSING</option>
                </select>
            </div>
            <br/>
            <input class="button" 
                   onclick="modificar_config('<?php echo $config->id_campeonato; ?>')" type="button" id="modificar_config_button" value="Modificar" />
            <br/>            
            <span id="result_<?php echo $config->id_campeonato; ?>"></span>
            <div style="clear: both;"></div>
        <?php } ?>
    </div>
</div>
<div style="clear: both;"></div>