<script type="text/javascript">
    $(document).ready(function() {
        $("#guardar_tactica_button").click(function() {
            guardar_tactica();
        })

        //var equipo = $.getURLParam(id);
        //alert(equipo);

        //$("#equipos").val() = idteam;

    });

    function acceptNum(event) {
var key = (typeof event.which == "number") ? event.which : event.keyCode;
	if ((key >= 48 && key <= 57)||(key==8)) {
            return true;
        } else {
            return false;
        }
    }

    function getPlayersTeams() {
        var idteam = $("#equipos").val();
        window.location = "/player/management/id/" + idteam;
    }

    function modificar_player(playerid) {
        var value_player = $("#value_" + playerid).val();
        var status_player = $("#status_" + playerid).val();
        if (confirm('Seguro que queres modificar el jugador?')) {
            $.post("/player/update/", {
                id: playerid,
                status: status_player,
                value: value_player
            },
            function(data) {
                $("#result_" + playerid).html("Tactica modificada" + data);
                //location.reload();
                //windows.location = '/tactics/managment/';
                //alert("Tactica modificada " + data);
            });
        }
    }
</script>

<div class="contenedor">
    <div class="player">
        <p>Equipo:</p>
        <div class="styled-select">
            <select id="equipos" >
                <?php foreach ($this->teams as $team) { ?>
                    <?php if ($this->equipo == $team->name) { ?>
                        <option selected="" value="<?php echo $this->equipo_id; ?>"><?php echo  $this->equipo ; ?></option>
                    <?php } else { ?>
                        <option value="<?php echo $team->id ?>"><?php echo $team->name ; ?></option>
                    <?php } ?>
                <?php } ?>
            </select>
        </div>
      <!--Equipo: <span><?php //echo $this->equipo->name;                                   ?></span>-->
        <div class="boton">
            <input class="button" type="button" onclick="getPlayersTeams()" value="Buscar Jugadores"/>
        </div>

        <table>
            <?php if ($this->players) { ?>
                <tr>
                    <td>Jugador</td>
                    <td>Estado</td>
                    <td>Valor</td>
                </tr>
                <?php foreach ($this->players as $this->player) { ?>
                    <tr>
                        <td><?php echo $this->player->nickname ; ?></td>
                        <td>
                            <div class="styled-select">
                                <select id="status_<?php echo $this->player->id; ?>">
                                    <option value="<?php echo $this->player->status ?>">
                                        <?php if ($this->player->status == "1") { ?>Activado<?php } else { ?>Desactivado<?php } ?>
                                    </option>
                                    <?php if ($this->player->status == "1") { ?><option value="0">Desactivado</option><?php } else { ?><option value="1">Activado</option><?php } ?>
                                </select>
                            </div>
                        </td>
                        <td>
                            <input id="value_<?php echo $this->player->id; ?>" type="text"  onkeypress="return acceptNum(event)" value="<?php echo $this->player->value ?>">
                        </td>
                        <td>
                            <div class="botonAgregar">
                                <input class="button" onclick="modificar_player(<?php echo $this->player->id ?>)" type="button" id="modificar_player" value="Modificar" />
                            </div>
                        </td>
                    <?php } ?>
                <?php } ?>
            </tr>
        </table>
        <div id="result_<?php echo $this->player->id ?>"></div>
        <br/><br/>
    </div>
</div>
<div style="clear: both;"></div>
<br/><br/><br/>
