@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'robotolight';
    src: url('fonts/roboto-light-webfont.svg#robotolight') format('svg'),
        url('fonts/roboto-light-webfont.eot');
    src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-light-webfont.woff') format('woff'),
        url('fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoregular';
    src:  url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg'), 
        url('fonts/roboto-regular-webfont.eot');
    src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/-regular-webfont.woff') format('woff'),
        url('fonts/roboto-regular-webfont.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotothin';
    src: url('fonts/roboto-thin-webfont.eot');
    src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/roboto-thin-webfont.woff') format('woff'),
        url('fonts/roboto-thin-webfont.ttf') format('truetype'),
        url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*General*/

body {background: #f7f7f7;
      font-family: 'robotoregular', Arial, sans-serif;
      font-size: 16px; 
      color: #7b7b7b;
      margin: 0;
      padding: 0;
      border: 0;}

.contenedor {width: 960px;
             margin: 0 auto;}

input, select {background: #fafafa;
               border: 1px solid #46bdaf;
               border-radius: 4px; 
               padding: 4px;
               text-align: left;
               color: #666;}

span {color: #bef4e9;}
p {margin: 0;}

ul {list-style: none;}
a {text-decoration: none;}
/*header*/

#header {background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#40cea9), to(#38c9bc));
         background: -moz-linear-gradient(19% 75% 90deg,#40cea9, #38c9bc);
         width: 100%;
}
.header {width: 960px;
         margin: 0 auto;}

.usuario {width: 260px;
          float: left;
          color: #ffffff;
          margin: 14px 0 0 20px;}

.usuario p, .usuario p span  {font-size: 16px; line-height: 1; }
.usuario span {font-family:'robotolight', Arial, sans-serif;
               font-size: 12px; 
               margin: 0;
               padding: 0; }

.header ul {width: 680px;
            float: left;
            padding: 0;
            margin: 0; }
.header ul li {float: right;
               text-transform: uppercase;
               color: #bef4e9;
               margin: 0 10px;
               line-height: 5; }
.header ul li.active, .header ul li.active a {color: #bef4e9;}
.header ul li a {color: #ffffff;}
header {background-color: #3b86db}
/*login*/

.form {width: 300px; 
       margin: 0 auto;  }

.logo {text-align: center;
       margin: 30px auto 0px auto;}

.logo p {text-align: right;
         font-size: 16px;
         font-family:'robotothin', Arial, sans-serif;
         margin: 0;
         padding: 0;
         position: absolute;
         top: 0;
         right: 0;  }

#futband {
    width: 230px;
    height: 229px;
    background: url(http://www.tecnicofc.com.br/media/img/tecnicofc.png) no-repeat;
    display: block;
    margin: 50px auto 6px auto;
}
.form input { width: 90%;
              margin: 0 auto;
              height: 24px;}

.form input {margin-bottom: 10px;}
.form label {line-height: .8;}

input.button, .userconfiguration input.button {background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#40cea9), to(#38c9bc));
                                               background: -moz-linear-gradient(19% 75% 90deg,#40cea9, #38c9bc);
                                               color: #ffffff;
                                               font-family: 'robotolight', Arial, sans-serif;
                                               border: 0;
                                               font-size: 21px;
                                               text-align: center;
                                               text-transform: capitalize;
                                               height: 40px;
                                               width: 93%;
                                               -webkit-transition: all .2s ease-in-out;
                                               -moz-transition: all .2s ease-in-out;
                                               -o-transition: all .2s ease-in-out;
                                               transition: all .2s ease-in-out;
                                               cursor: pointer;}

input.button:hover {background: #3bdb77;}
.form input.button {margin-bottom: 100px;}

#resultlogin {font-size: 14px; }



/*tacticas*/
table {margin: 0 0 0 0; }
table td {text-transform: uppercase; font-size: 10px;}
tr.thin td {font-family:'robotolight', Arial, sans-serif;}

.styled-select select, .nuevatactica .normal.styled-select select {
    background: transparent;
    width: 120px;
    padding: 4px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    float: left;
    height: 24px;
    -webkit-appearance: none;
}

.styled-select, .nuevatactica .normal.styled-select {
    width: 120px;
    height: 24px;
    overflow: hidden;
    background: url('../img/arrow.png') no-repeat right #fbfbfb;
    border: 1px solid #e7e7e7;
}

.eliminar {background: url('../img/eliminar.png');
           background-size: 22px 44px; 
           background-position: 0 -22px;
           width: 22px;
           height: 22px;
           border: 0;
           cursor: pointer;
           -webkit-transition: all .2s ease-in-out;
           -moz-transition: all .2s ease-in-out;
           -o-transition: all .2s ease-in-out;
           transition: all .2s ease-in-out; 
}

.eliminar:hover {background-position: 0 0;
}

.nuevatactica {width: 100%;
               box-shadow: 2px 2px 5px #d0d0d0;
               border: 1px solid #cccccc;
               margin: 76px 0 100px 0;
               border-radius: 6px;
               float: left;
               padding: 1%; }


.nuevatactica input{ float: left; }

.nuevatactica label, .nuevatactica div {float: left;
                                        margin: 4px;
}

.botonAgregar {width: 90px; float: left; }
.botonAgregar .button {font-size: 16px;
                       height: 30px;}




/* User config */
.userconfiguration {background: #efefef;
                    border-radius: 20px;
                    width: 300px;
                    margin: -76px auto 100px auto; 
                    padding: 60px 22px 40px 40px;
                   border: 3px solid #3ccbb3;
                   }

.userconfiguration input {width: 91%;
                          margin-bottom: 14px;
                          height: 34px;
                          border: 1px solid #e5e5e5;}



/*PLAYER */

.player {margin: 60px 0 100px 40px;}
.player p {text-transform: uppercase;
           color: #4e4e4e; }

.player .styled-select, .player .styled-select select {width: 200px;}
.player .styled-select {float: left;}
.player .boton {width: 180px; float: left; margin: 0 0 0 30px;  }
.player .boton .button {font-size: 14px; height: 28px; }


/* Footer */
#footer {background: #393939;
         position: fixed;
         bottom: 0;
         width: 100%; }

#footer .footer {color: #bbbbbb;
                 width: 960px;
                 margin: 0 auto;
                 text-align: right;
                 line-height: 4;
                 font-size: 14px;}


/* nuevos - fran */
.list td{
    font-family: Tahoma;
    font-size: 12px;
    color: #4e4e4e;
    text-transform: none;
    text-align: left;
    padding: 4px 10px;  border-bottom: 1px solid #d3d3d3; 
}
.list table {width: 100%; margin-top: 30px;}
a {cursor:pointer;}
.pregunta {
    width: 370px;
}
.correcta {
    width:100px;
    color: rgb(54, 177, 123) !important;
    font-weight: bold;
}
.incorrecta {
    width: 100px;
    color: rgb(221, 85, 145) !important;
}
.filter {
    margin-top:40px; margin-bottom:10px; padding:20px; border: 1px solid #3bcbb5; border-radius: 20px;
}
.form_edit { margin:0 auto 0 auto; width:600px;padding:20px;}
.titles td {background-color: #3cccb2; text-transform: uppercase; color: #ffffff; line-height: 2;}
input[type='button']{
    cursor:pointer;
    padding:6px;
    width:auto;
    height:auto;
    background-color: #3bcbb5; color: #fff;
}
input[type='button']:hover {background-color: #2aac9a;}
.backrojo {background-color: rgb(255, 251, 145);}
.pagination {text-align:center; padding:10px; margin:0 auto 0 auto;} 
textarea {
    padding:4px; color: #444;
}
.txt_desc_edit {text-align:right;padding-right:6px;}
.txt_pregunta {
    width:400px;
    height:80px;
}
.txt_respuesta {
    width:400px;
    height:40px;
}
