<?php
$the_controller = Zend_Controller_Front::getInstance()->getRequest()->getControllerName();
$authenticationdata = Zend_Auth::getInstance()->getStorage()->read();

$host = preg_replace('/:.*/', '', $_SERVER['HTTP_HOST']);
$host_parts = explode('.',$host);
array_shift($host_parts);
$domain = implode('.', $host_parts);


if ($authenticationdata/* ->hasIdentity() */) {
    ?>
    <div class="usuario">
        <p><span>User:</span><br/><?php echo $this->email; ?></p>
        <span>type: <?php echo $this->id_type; ?></span>
    </div>
    <ul> 
        
        <li  class="menu" >
            <a href='/useradmin/logout'>Logout</a>
        </li>
        <li class="menu">
            <a href="http://adm2.<?php echo $domain; ?>/pushbroad/index">Pushs</a>
        </li>
        
        <li <?php
        if ($the_controller == 'stats') {
            echo ' class="menu active" ';
        } else {
            echo ' class="menu" ';
        }
        ?>>
            <a href="/stats/index">Stats</a>
        </li>
        <li <?php
        if ($the_controller == 'questions') {
            echo ' class="menu active" ';
        } else {
            echo ' class="menu" ';
        }
        ?>>
            <a href="/questions/index">Questions</a>
        </li>
<<<<<<< HEAD
        

=======
        <li <?php
        if ($the_controller == 'reportedsuggested') {
            echo ' class="menu active" ';
        } else {
            echo ' class="menu" ';
        }
        ?>>
            <a href="/reportedsuggested/index">Suggested</a>
        </li>
        <li <?php
        if ($the_controller == 'reported') {
            echo ' class="menu active" ';
        } else {
            echo ' class="menu" ';
        }
        ?>>
            <a href="/reported/index">Reported</a>
        </li>
>>>>>>> 6c8b7121119c23605769ad680668881f0b41c4b9
    </ul>
    <?php if ($this->error): ?>
        <div style="color: red">
            <?php echo $this->error; ?>
        </div>
    <?php endif; ?>
<?php } ?>
