<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/docson.css">
    <script src="/docson/lib/require.js"></script>
    <script>
        require(["/docson/docson.js", "/docson/lib/jquery.js"], function(docson) {
        });
        
                function update(id, url) {
                    if ($('#'+id).is(':empty')) {
                        var segments = url.split("$");
                        if(segments[0]) {
                            function render(schema) {
                                try {
                                    docson.doc(id, schema, null, segments[0].replace(/\/[^\/]*\/?$/, '/')).done(function() {
                                        maybeExpand(id, segments);
                                    });
                                } catch (e) {
                                    error(id, "Could not parse schema: " + e.message + "<pre>" + $('<pre/>').text(schema).html() + "</pre>");
                                }
                            }

                            $.get(segments[0])
                                        .done(render)
                                        .fail(function (xhr, status, err) {
                                            error(id, "Could not load " + segments[0] + ": " + status + " " + err);
                            });
                        }
                        function receiveMessage(event) {
                            if(event.data.id && event.data.id == "docson") {
                                if(event.data.type) {
                                    try {
                                        docson.doc(id, event.data.definitions, event.data.type).done(function() {
                                            maybeExpand(id, segments);
                                        });
                                    } catch (e) {
                                        error(id, "Could not parse schema: " + e.message + "<pre>" + $('<pre/>').text(event.data.definitions).html() + "</pre>");
                                    }
                                }
                                if(event.data.action == "resize") {
                                    $('#'+id).get(0).resized();
                                }
                                if(event.data.font) {
                                    console.log(event.data.font);
                                    $('#'+id).css("font-family", event.data.font);
                                }
                            }
                        }
                        window.addEventListener("message", receiveMessage, false);
                        var host = window.opener || window.parent;
                        host.postMessage( { id: "docson", action: "ready", url: url}, "*");
                    } else {
                        $('#'+id).toggle();
                    }
                }

                function maybeExpand(id, segments) {
                    if(segments.indexOf("expand") >0 ) {
                        $('#'+id).find(".expand-button").html(" - ").attr("title", "Collapse all");
                        $('#'+id).find(".signature-type-expandable").addClass("signature-type-expanded");
                        $('#'+id).find(".box-container").show();
                        $('#'+id).find(".expand-button").attr("expanded", true);
                    }
                }

                function error(id, message) {
                    $('#'+id).html($("<div/>").addClass("error")
                            .html(message));
                }
        
                
    </script>
    <style>
        body {
            font-family: verdana, helvetica;
        }

        #form {
            display: none;
        }

        #form input[type=text] {
            border-radius: 6px;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
        }
        
        .docson .box {
            float: none;
        }

    </style>
</head>
<body>
    <p>Normal requests/responses</p>
    <?php foreach($routes as $route):
        $id = preg_replace('/(\{(.+?)\})+/', 'param', $route->getHttpMethods().$route->getPattern());
        $id = preg_replace('/\//', '-', $id);
        $id = strtolower($id);
        $url = "http://$_SERVER[HTTP_HOST]/schemas/$id";
    ?>
        <a href="javascript:update('<?php echo "$id-request"; ?>', '<?php echo "$url-request.json";?>');
                            update('<?php echo "$id-response";?>', '<?php echo "$url-response.json";?>');">
                               <?php echo $route->getHttpMethods().' '; echo $route->getPattern();?>
        </a><br/>
        <div style="width: 100%;" id="<?php echo "$id-request"; ?>"></div>
        <div style="width: 100%;" id="<?php echo "$id-response"; ?>"></div>
    <?php endforeach; ?>
    
</body>
</html>
