<?php
$title = "";
if ($this->search_txt) {
    $title = "<h2>Busqueda de: $this->search_txt</h2>";
    $search_input = $this->search_txt;
} else {
    $search_input = "Texto en la pregunta";
}
# fill combos
$opt_lang = array(
    '*' => 'All',
    'ES' => 'ES',
    'PT' => 'PT',
    'EN' => 'EN');
$opt_country = array(
    '*' => 'All',
    'AR' => 'Argentina',
    'BO' => 'Bolivia',
    'BR' => 'Brasil',
    'CL' => 'Chile',
    'CO' => 'Colombia',
    'PE' => 'Peru',
    'PY' => 'Paraguay',
    'MX' => 'Mexico',
    'CA' => 'Centroamerica',
    'EC' => 'Ecuador',
    'UY' => 'Uruguay',
    'ES' => 'España',
    'PT' => 'Portugal',
    'HN' => 'Honduras',
    'NI' => 'Nicaragua',
    'GT' => 'Guatemala',
    'SV' => 'El Salvador',
    'CR' => 'Costa Rica'
);
$opt_category = array(
    '*' => 'All',
    '1' => 'Campeonato',
    '2' => 'Internacional',
    '3' => 'Copa Mundial',
    '4' => 'Historia',
    '5' => 'Jugadores',
    '6' => 'Equipos'
);

$opt_reasons = array(
    '*' => 'Ortografia o gramática',
    '1' => 'Respuesta incorrecta',
    '2' => 'Categoría incorrecta',
    '3' => 'Error en la región',
    '4' => 'Idioma incorrecto',
    '5' => 'Pregunta repetida',
    '6' => 'Cambiará en el futuro',
    '7' => 'Spam/ofensivo',
    '8' => 'Otro'
);

$opt_level = array(
    '*' => 'All',
    '1' => '1',
    '2' => '2',
    '3' => '3'
);
?>
<script>
    page_actual = 1;
    $(document).ready(function() {


        $("#txt_search").keypress(function(event) {
            if (event.which == 13) {

                search(1);
            }
        });

        $('#incfont').click(function() {
            curSize = parseInt($('.list td').css('font-size')) + 1;
            if (curSize <= 20)
                $('.list td').css('font-size', curSize);
        });
        $('#decfont').click(function() {
            curSize = parseInt($('.list td').css('font-size')) - 1;
            if (curSize >= 8)
                $('.list td').css('font-size', curSize);
        });


        $("#filter_page").change(function() {
            search($(this).val());
        });
    });
    function search(page) {
        if (!page) {
            page = 1;
        }

        var lang = $('#filter_lang').val();
        var search = $('#txt_search').val();
        txtsearch = "/search/" + search;
        if (search == 'Texto en la pregunta') {
            txtsearch = '';
        }

        var country = $('#filter_country').val();
        var category = $('#filter_category').val();
        var level = $('#filter_level').val();
        window.location.replace('/reported/index/page/' + page + '/lang/' + lang + '/country/' + country + '/category/' + category + '/level/' + level + txtsearch);
    }

    function searchtxt(obj) {
        var text = $(obj).val();
        window.location.replace('/reported/index/search/' + text);
    }
    function txtclear(obj) {
        if ($(obj).val() == 'Texto en la pregunta') {
            $(obj).val("");
        }
    }

    function save(question_id, reported_reasons_id, obj) {
        if (!confirm('Ya corregiste esta pregunta en questions?')) {
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/reported/update",
            data: {question_id: question_id, reported_reasons_id: reported_reasons_id}
        })
                .done(function(msg) {
                    if (msg == "OK") {
                        //alert("actualizado");
                        $(obj).parent().parent().hide();
                    } else {
                        alert(msg);
                    }
                });
    }
</script>
<div class="contenedor">

    <div class="filter">

        <table cellpadding="2" cellspacing="0" border="0">
            <tr> 
                <td>language</td>
                <td>country_id</td>
                <td>category</td>
                <td>difficulty</td>
                <td>

                </td>

            </tr>
            <tr> 
                <td><select id="filter_lang">
                        <?php
                        foreach ($opt_lang as $val => $string) {
                            if ($this->selected_lang == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select id="filter_country">
                        <?php
                        foreach ($opt_country as $val => $string) {
                            if ($this->selected_country == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <select id="filter_category">
                        <?php
                        foreach ($opt_category as $val => $string) {
                            if ($this->selected_category == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td><select id="filter_level">
                        <?php
                        foreach ($opt_level as $val => $string) {
                            if ($this->selected_level == $val) {
                                echo "<option selected='selected' value='$val'>$string</option>";
                            } else {
                                echo "<option value='$val'>$string</option>";
                            }
                        }
                        ?>
                    </select>
                </td>
                <td>
                    <a id="incfont"><img width="28" src="/media/img/font-size-asc.jpg" />
                        <a id="decfont"><img   width="28" src="/media/img/font-size-dec.jpg" /></a>
                </td>
                <td>
                    <input value="Buscar" type="button" onclick="search(1)"
                           />
                </td>

                <td>
                    <input id="txt_search" value="<?php echo $search_input; ?>" type="text"  onfocus="txtclear(this)"/>
                </td>
            </tr>

        </table>

    </div>
    <div class="list">

        <?php echo $title; ?>
        <table  cellpadding="2" cellspacing="0" border="0">
            <?php
            $i = 0;
            if ($this->questions) {
                ?>
                <tr class="titles">
                    <td>Category</td>
                    <td>country</td>
                    <td>Question</td>
                    <!--
                    <td>Correct</td>
                    <td>Incorrect</td>
                    <td>Incorrect</td>
                    <td>Incorrect</td>
                    -->
                    <td>Reasons</td>
                    <td>Reported Reasons</td>
                    <td>Cantidad</td>
                    <td>lang</td>

                    <td>user_id</td>

                    <td>Actions</td>
                </tr>
                <?php
                foreach ($this->questions as $question) {
                    ?>
                    <tr>
                        <!--<td>
                        <?php #if($question['squared_image_at']):  ?>
                                <!--<img src="<?php #echo $this->imgsUrl.$question['question_id'];                            ?>/squared/50x50/<?php #echo $question['squared_image_id'];                                                                                             ?>.png"/>-->
                        <?php #elseif($question['rectangular_image_at']):  ?>
                                <!--<img src="<?php #echo $this->imgsUrl.$question['question_id'];                            ?>/rectangular/50x25/<?php #echo $question['rectangular_image_id'];                                                                                             ?>.png"/>
                        <?php #else:  ?>
                            -
                        <?php #endif; ?>
                        </td>-->
                        <td class="td_category">
                            <?php
                            echo $opt_category[$question['category_id']];
                            ?>
                        </td>
                        <td width="20">
                            <?php echo $question['country_id']; ?>
                        </td>

                        <td class="pregunta <?php
                        if (strlen($question['question']) > MAX_QUESTION_LENGTH) {
                            echo 'backrojo';
                        }
                        ?>">
                                <?php echo ($question['question']); ?> 
                        </td>
                        <?php
                        /*
                          $ind_answer = 0;
                          foreach ($question['answers'] as $answer) {
                          $class = ($ind_answer++ == 0) ? 'correcta' : 'incorrecta';
                          ?>
                          <td class="<?php echo $class; ?> <?php
                          if (strlen($answer['answer']) > MAX_ANSWER_LENGTH) {
                          echo 'backrojo';
                          }
                          ?>">
                          <?php echo ($answer['answer']); ?>
                          </td>
                          <?php
                          }
                         */
                        ?>
                        <td width="20">
                            <?php echo $question['reasons']; ?>
                        </td>
                        <td class="20">
                            <?php
                            echo $opt_reasons[$question['reported_reasons_id']];
                            ?>
                        </td>
                        <td class="20">
                            <?php
                            echo $question['cantidad'];
                            ?>
                        </td>
                        <td width="20">
                            <?php echo $question['lang']; ?>
                        </td>
                        <td width="20">
                            <?php echo $question['user_id']; ?>
                        </td>
                        <td>
                            <a href="#" onclick="save(<?php echo $question['question_id'] . " ," . $question['reported_reasons_id']; ?>, this)">
                                <img src="/media/img/ok.png" border="0" />
                            </a>
                        </td>
                    </tr> 
                    <?php
                }
            } else {
                echo "Presiona 'buscar' para listar preguntas";
            }
            ?>
        </table>
    </div>
    <div class="pagination">
        <?php
        if (!empty($this->cmb_paginado)) {
            ?>Página
            <?php
            echo $this->cmb_paginado;
        }
        ?>
    </div>
</div>
